.choice-box {
    -fx-background-color: #333333; /* Background color for the box */
    -fx-text-fill: white;         /* Text color */
    -fx-font-size: 14px;          /* Adjust font size */
}
.bg-black{
   -fx-background-color: #111111;
}

.text-white {
    -fx-font-size: 18px;
    -fx-text-fill: white;


}
.text-black{
    -fx-font-size: 18px;
    -fx-text-fill: black;

}

.icon-color {
    -fx-border-color: white;
    -fx-border-width: 5px;
}

.choice-box .list-cell {
    -fx-cursor:pointer;
}

.choice-box .arrow-button {
    -fx-background-color: #333333; /* Arrow button color */
}
